version: '3.8'

services:
    
  backend:
    build:
      context: .
      dockerfile: Dockerfile.local
    command: python3 server.py
    volumes:
    - ./app:/usr/src/app
    ports:
    - 8000:8000
    depends_on:
    - db

  web:
    build: ./vipcustomer.web-master
    ports:
      - 3000:3000
    volumes:
      - ./vipcustomer.web-master:/vipcustomer.web-master


  db:
    image: postgres:13.4
    ports:
    - 5432:5432
    environment:
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=postgres
    - POSTGRES_DB=db
